[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
selenium = "*"
jupyter = "*"
"bs4" = "*"
tabulate = "*"
tqdm = "*"


[dev-packages]

